* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card-img-top{
    width: 100%;
    height: 200px;
    object-fit: contain;
}

.cart_img{
    width: 50;
    height: 50;
    object-fit: contain;
}